[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pddl = "*"
pytest = "*"
flake8 = "*"
dlplan = {ref = "main", git = "https://github.com/morxa/dlplan"}
clingo = "*"

[dev-packages]

[requires]
python_version = "3"
