[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pddl = "*"
pytest = "*"
flake8 = "*"
dlplan = {ref = "silent-logger", git = "https://github.com/morxa/dlplan"}
clingo = "*"
pygraphviz = "*"
tqdm = "*"
setuptools = "*"
filelock = "*"
frozendict = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3"
